@page "/Inicio"

<PageTitle>Home</PageTitle>

<h1>Bienvenidos</h1>

<p>Saludos</p>
<p>Mi nombre es Lor Henzo</p>
<p>Matricula (2021-0073)</p>

<a href="" class="btn btn-outline-primary">Registro Prioridades</a>